In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
training = pd.read_csv('training_program.csv', index_col=0)
training.reset_index(inplace=True)
training.head()

   id  treatment  pre_earnings  post_earnings
0   1          0   47794.61771    46260.52957
1   2          1   42669.67004    41214.43663
2   3          1   46571.21138    61175.58348
3   4          1   40048.51518    47712.55661
4   5          0   73079.16251    65406.00875

In [11]:
training.describe()

                id    treatment  pre_earnings  post_earnings
count  3000.000000  3000.000000   3000.000000    3000.000000
mean   1500.500000     0.505000  49800.915453   52302.910043
std     866.169729     0.500058  10004.657996   11500.918651
min       1.000000     0.000000  18232.961870    9992.943974
25%     750.750000     0.000000  42923.028435   44558.604222
50%    1500.500000     1.000000  49878.016805   52275.248370
75%    2250.250000     1.000000  56517.180313   60112.130660
max    3000.000000     1.000000  89262.377060   91723.962690

In [12]:
treatment = training[training['treatment']==1]
control = training[training['treatment']==0]
pre_earns_result = scipy.stats.ttest_ind(treatment['pre_earnings'], control['pre_earnings'], equal_var=False)
print(pre_earns_result)

TtestResult(statistic=np.float64(0.851181643223146), pvalue=np.float64(0.39473651779617136), df=np.float64(2994.4830489592364))

In [13]:
(np.mean(treatment['post_earnings']) - np.mean(control['pre_earnings'])) - (np.mean(control['post_earnings']) - np.mean(control['pre_earnings']))

np.float64(5226.740973481668)

In [14]:
dif_results = smf.ols('post_earnings ~ treatment', data = training).fit()
print(dif_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          post_earnings   R-squared:                       0.052
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     163.3
Date:                Sat, 04 Jan 2025   Prob (F-statistic):           1.92e-36
Time:                        22:05:23   Log-Likelihood:                -32227.
No. Observations:                3000   AIC:                         6.446e+04
Df Residuals:                    2998   BIC:                         6.447e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   4.966e+04    290.688    170.848      0.000    4.91e+04    5.02e+04
treatment   5226.7410    409.055     12.778      0.000    4424.685    6028.797
==============================================================================
Omnibus:                        1.611   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.447   Jarque-Bera (JB):                1.540
Skew:                          -0.041   Prob(JB):                        0.463
Kurtosis:                       3.075   Cond. No.                         2.63
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:

'Conclusion: The ttest results return a pvalue greater than alpha of .05, thus we fail to reject hypothesis and can assume no difference between pre-experiment earnings of the treatment and control group. A mean difference in difference of post earnings revealed that the treatment group had an increase in earnings of $5226.74 relative to the control group, this finding is confirmed with a regression analysis ran with post earnings as dependent variable and treatment as independent variable that returns a coefficient on treatment of 5226.741. /n.'

'Conclusion: The ttest results return a pvalue greater than alpha of .05, thus we fail to reject hypothesis and can assume no difference between pre-experiment earnings of the treatment and control group. A mean difference in difference of post earnings revealed that the treatment group had an increase in earnings of $5226.74 relative to the control group, this finding is confirmed with a regression analysis ran with post earnings as dependent variable and treatment as independent variable that returns a coefficient on treatment of 5226.741. /n.'